<!DOCTYPE html>
<html>
<head>
    <title>Early Detection of Chronic Kidney Disease</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/homepage.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="inner-header">
            <div class="logo">
                <a href="https://smartinternz.com/">
                    <img src="https://smartinternz.com/assets/logo/smartinternz.png" alt="Smart Internz Logo">
                </a>
            </div>
            <div class="header-link">
                <a href="/Prediction"><button class="button">Prediction</button></a>
            </div>
            <div class="header-link">
                <a href="/Home"><button class="button">Home</button></a>
            </div>
        </div>
    </div>

    <!-- Main Banner Content -->
    <div class="content">
        <div class="banner-image">
            <div class="inner-banner-image">
                <div class="banner-content">
                    <h1>EARLY DETECTION OF CHRONIC KIDNEY DISEASE</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>