<!DOCTYPE html>
<html lang="en">
<!-- html tag starts here and defining the language eng -->
<head> <!-- Header starts -->
  <title>Early Detection Of Chronic Kidney Disease</title> <!-- assigning the title for whole page -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='css/chronicstyle.css')}}"> 
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"> <!-- assigning the font style -->
  <style>
    h1 {
      font-family: 'Pacifico', cursive;
    }
    form {
      width: 650px;
      border-radius: 10px;
      padding: 4px;
    }
    select {
      width: 500px;
      border-radius: 4px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
    }
    button {
      width: 80px;
      padding: 10px;
      font-family: brush script mt, cursive;
    }
  </style>
</head> <!-- Header ends -->

<center>
<body>
  <div id="demobox">
    <h1>Early Detection Of Chronic Kidney Disease</h1>
    <h4>A Machine learning web app built with flask</h4>
  </div>

  <form method='POST' action='/predict'>
    <div class="container">
      <p>Please fill in this form to predict the disease</p>
      <hr>

      <label for="blood_urea"><b>Blood Urea</b></label><br>
      <input type="number" placeholder="Enter Blood Urea value" name="blood_urea" id="blood_urea" required><br>

      <label for="blood_glucose_random"><b>Blood Glucose Random</b></label><br>
      <input type="number" placeholder="Enter Blood Glucose Random" name="blood_glucose_random" id="blood_glucose_random" required><br>

      <label for="coronary_artery_disease"><b>Coronary Artery Disease</b></label><br>
      <select name="coronary_artery_disease" id="coronary_artery_disease">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><br>

      <label for="hemo"><b>Hemoglobin</b></label><br>
      <input type="number" placeholder="Enter Hemoglobin level" name="hemo" id="hemo" required><br>

      <label for="appet"><b>Appetite</b></label><br>
      <select name="appet" id="appet" required>
        <option value="good">Good</option>
        <option value="poor">Poor</option>
      </select><br>

      <label for="anemia"><b>Anemia:</b></label><br>
      <select name="anemia" id="anemia">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><hr>

      <label for="pus_cell"><b>Pus Cell:</b></label><br>
      <select name="pus_cell" id="pus_cell">
        <option value="Normal">Normal</option>
        <option value="Abnormal">Abnormal</option>
      </select><hr>

      <label for="red_blood_cells"><b>Red Blood Cells:</b></label><br>
      <select name="red_blood_cells" id="red_blood_cells">
        <option value="Normal">Normal</option>
        <option value="Abnormal">Abnormal</option>
      </select><hr>

      <label for="diabetesmellitus"><b>Diabetes Mellitus</b></label><br>
      <select name="diabetesmellitus" id="diabetesmellitus">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><hr>

      <label for="pedal_edema"><b>Pedal Edema</b></label><br>
      <select name="pedal_edema" id="pedal_edema">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select><hr>

      <button type="submit" class="registerbtn">Predict</button>
    </div>
  </form>
</body>
</center>
</html>